.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.class
out/
bin/main/
bin/test/
.bear/tools/*
!.bear/tools/bear-cli/
!.bear/tools/bear-cli/**

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
.bear-gradle-user-home/

